<% provide(:home, "active") %>
<% provide(:title, "Home") %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
 
      <%= render 'shared/formModal' %>

  
<div class="intro section header" id="page-nav-top">
      <div class="w-embed">
      <video poster="http://hoysanrafael.com/wp-content/uploads/2015/03/sanz.jpg" autoplay="true" loop="" style="width:100%; min-height: 500px; position:absolute; z-index: -1;">
    <source src="/assets/videos/videoBanner.mp4" type="video/mp4">



    <img src="http://hoysanrafael.com/wp-content/uploads/2015/03/sanz.jpg" style="width:100%; min-height: 500px; position:absolute; z-index: -1;">
      </video>
      </div>
    <div class="container-fluid">
         <div class="intro-body">
        <div class="container-fluid">
          <div class="row socialBTNs">
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <%= link_to (image_tag "social/fb-icon.png"), "https://www.facebook.com/ernestoricardosanz" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/t-icon.png"), "https://twitter.com/sanzernesto" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/i-icon.png"), "https://instagram.com/sanz2015/" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/yt-icon.png"), "https://www.youtube.com/user/sanzernestor" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
               <%= link_to (image_tag "social/dona.png"), "#" %>
            </div>


            </div>
            <div class="row">
                 <h1 class="brand-heading">El poder de la uni&oacute;n<span class="color"></span></h1>
                <p class="intro-text"></p>

            </div>

        </div>
    </div>
    </div>
    </div>










<!--Video Section Ends Here-->

  <%= render 'shared/navbar' %>


    <div class="container content">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <br><br><br>
            <blockquote id="randomquote">
              <p></p> 

            </blockquote>
        </div>

      </div>


      <br><br><br>
    </div> <!-- /container -->


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6 ">
          <div class="embed-responsive embed-responsive-16by9">
          <iframe width="400" height="225" src="https://www.youtube.com/embed/N_rBf2j_WxQ?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>



        <div class="col-md-6" id="formMini">
          <form action="" class="form-horizontal">













            <div class="form-group">
          
          <div class="col-sm-6">
            <h1>UNITE!</h1>
          </div>
        </div>

        <div class="form-group">
          
          <div class="col-sm-6">
          <br>

          </div>
        </div>

        <div class="form-group">
          
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Codigo Postal"/>
          </div>
        </div>


        <div class="form-group">
          
          <div class="col-sm-6">
            <input type="email" class="form-control" placeholder="Email"/>
          </div>
        </div>

        <div class="form-group">
          
          <div class="col-sm-6">
            <button class="btn btn-primary col-lg-6 col-md-6 col-sm-6 form-control" type="submit" style="background-color: #CC0000;">Unite</button>
            

          </div>
        </div>


      </form>
       </div>
      </div>



<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
