<!-- Intro Header -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<header class="intro">

    <!-- Video from YouTube. Have Questions? How To: https://github.com/pupunzi/jquery.mb.YTPlayer/wiki -->
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=N_rBf2j_WxQ', containment:'.intro', autoPlay:true, loop:true, mute:true, startAt:8, stopAt: 60, quality:'small', opacity:1, showControls: false, showYTLogo:false, vol:25}"></a>

    <div class="intro-body">
        <div class="container">
            <div class="col-md-7">
                <h1 class="brand-heading"><img src="http://ernestosanz.org.ar/imagenes/layout/logo.png"><span class="color">ERNESTO</span></h1>
                <p class="intro-text">Frase inspiradora.</p>
            </div>
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <a href="#about" class="btn btn-primary btn-lg page-scroll"><i class="fa fa-chevron-down"></i> Perfil</a>
                    </li>
                    <li>
                        <a href="#action" class="btn btn-default btn-lg page-scroll"><i class="fa fa-chevron-down"></i>Voluntarios</a>
                    </li>
                </ul>
            </div>

<!--             DIDI CHANGED
            <div class="video-controls">
                <a id="video-volume" class="fa fa-volume-off fa-lg" href="#"></a>
                <a id="video-play" class="fa fa-pause fa-lg" href="#"></a>
            </div> -->

        </div>
    </div>
</header>


<!-- Action Section -->
<section id="action" class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 split-padding">
            <h5 class="headerline">Voluntarios</h5>
              <%= form_tag("/search", method: "get") do %>
              <%= label_tag("Nombre:") %>
              <%= text_field_tag(:q) %> 
              <%= label_tag("Apellido:") %>
              <%= text_field_tag(:q) %> <br>
              <%= label_tag("Telefono:") %>
              <%= text_field_tag(:q) %> 
              <%= label_tag("Email:") %>
              <%= text_field_tag(:q) %> <br>
              <%= label_tag("C. Postal:") %>
              <%= text_field_tag(:q) %> <br>
 <!--              <%= submit_tag("Enviar") %> -->
            <% end %>
            <p><a href="/" class="btn btn-default btn-lg">ENVIAR</a></p>

        </div>



        <div class="col-lg-6 col-md-6 split-padding0">
            <h5 class="headerline">DONACIONES</h5>
            <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur ipsum dolor sit amet consecte ipsum dolor sit amet consecte tur adipiscingtitor diam, tur adipiscingtitor diam.</p>
            <p><a href="/" class="btn btn-default btn-lg">DONAR</a></p>
        </div>






    </div>
</section>





<!-- About3 Section -->
<section id="about3" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 split-padding4">
            <h3 class="headerline">VOLUNTARIADO</h3>
            <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. </p>
            <h3 class="headerline">EDUCACION</h3>
            <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. </p>
        </div>
        <div class="col-sm-6 split-padding5">
            <h3 class="headerline">AYUDA Y APOYO</h3>
            <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. </p>
            <h3 class="headerline">CARIEDAD</h3>
            <p>Sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. </p>
        </div>
    </div>
</section>


<!-- Contact Section -->
<section id="contact" class="container-fluid text-center">
    <div class="overlay"></div>
    <div class="col-lg-6 col-lg-offset-3">
        <h2 class="headerline">Contacto</h2>
        <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam</p>
        <h3><i class="fa fa-phone"></i> (123) 456-7890</h3>
        <ul class="list-inline lead">
            <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
            <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
            <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a></li>
            <li><a href=""><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></li>
        </ul>
        <p><i class="fa fa-map-marker"></i> Paraguay 4519, Palermo, Buenos Aires</p>
        <p class="text-muted">Copyright &copy; Ernesto Sanz 2015</p>
    </div>
</section>
