<% provide(:media, "active") %>
<% provide(:title, "Media") %>
<body>
    

<div class="section header media" id="page-nav-top">

    <div class="container-fluid">
         <div class="intro-body">
        <div class="container-fluid">
          <div class="row socialBTNs">
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <%= link_to (image_tag "social/fb-icon.png"), "https://www.facebook.com/ernestoricardosanz" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/t-icon.png"), "https://twitter.com/sanzernesto" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/i-icon.png"), "https://instagram.com/sanz2015/" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/yt-icon.png"), "https://www.youtube.com/user/sanzernestor" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
               <%= link_to (image_tag "social/dona.png"), "#" %>
            </div>


            </div>

        </div>
    </div>
    </div>
    </div>







<!--Video Section Ends Here-->

  <%= render 'shared/navbar' %>

  <br><br><br><br>
<div class="container">
           <div class="galleria">
            <%= link_to (image_tag "equipo/SanzLlachDer2.png"), "equipo/sanzllach.png" %>
<!--             <a href="equipo/sanzllach.png"><img src="equipo/SanzLlachDer2.png" data-big="equipo/SanzLlachIzq2.png" data-title="Lookbook" data-description=""></a> -->

</div>
<br><br><br><br><br>


<script>
    Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
    Galleria.run('.galleria');
</script>
