<% provide(:perfiles, "active") %>
<% provide(:title, "Perfiles") %>




<div class="section header perfiles" id="page-nav-top">

    <div class="container-fluid">
         <div class="intro-body">
        <div class="container-fluid">
          <div class="row socialBTNs">
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <%= link_to (image_tag "social/fb-icon.png"), "https://www.facebook.com/ernestoricardosanz" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/t-icon.png"), "https://twitter.com/sanzernesto" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/i-icon.png"), "https://instagram.com/sanz2015/" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/yt-icon.png"), "https://www.youtube.com/user/sanzernestor" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
               <%= link_to (image_tag "social/dona.png"), "http://donar.ucr.org.ar" %>
            </div>
            </div>



        </div>
    </div>
    </div>
    </div>










<!--Video Section Ends Here-->

  <%= render 'shared/navbar' %>







<!-- About Section -->
<div class="container content">
    <div class="row">
        <div class="col-sm-12">
   
            <div class="sanzyllach">
                <map name="sanzllachmap">
                <area shape="rect" coords="61,60,833,923" class="sanzmap1" alt="sanzmap" target="" href="#perfilSanz" data-toggle="modal"/>
                <area shape="rect" coords="897,61,1651,923" class="llachmap1" alt="llachmap" target="" href="#perfilLlach" data-toggle="modal"/>
            </map>
                        <map name="sanzmap">
              <area shape="rect" coords="46,46,845,937" class="sanzmap2" alt="sanzmap" target="" href="#perfilSanz" data-toggle="modal" />
            </map>
                        <map name="llachmap">
              <area shape="rect" coords="23,40,709,821" class="llachmap2" alt="llachmap" target="" href="#perfilLlach" data-toggle="modal"/>
            </map>

            <%= image_tag "equipo/sanzllach.png", style: "display: inline;", usemap: "sanzllachmap", class: "sanzllach" %>
            
            <%= image_tag "equipo/SanzLlachDer2.png", class: "SanzLlachDer2", usemap: "llachmap" %>

            <%= image_tag "equipo/SanzLlachIzq2.png", class: "SanzLlachIzq2", usemap: "sanzmap" %>

            </div>


<!--  -->            <hr>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <h3 class="titulo-expertos">EXPERTOS PROGRAMATICOS</h3>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <%= image_tag "equipo/FQuetgla.png" %>
            <div class="caption" modal-name="#perfilFQuetglas">
                
                <h3>Fabio Quetglas</h3>
                <p>Experto en desarrollo territorial y gestión de ciudades..</p>

            </div>



        </div>
        <div class="col-sm-3 standard">

            <%= image_tag "equipo/MTetaz.png" %>
            <div class="caption" modal-name="#perfilMTetaz">
                <h3>Martín Tetaz</h3>
                <p>Experto en economía.</p>
                
            </div>


        </div>
        <div class="col-sm-3 standard">
            <%= image_tag "equipo/HAguiar.png" %>
            <div class="caption" modal-name="#perfilHAguiar">
                <h3>Henoch Aguiar</h3>
                <p> Experto en políticas de comunicación y telecomunicaciones.</p>
                
            </div>
            
        </div>
        <div class="col-sm-3 standard">
            <%= image_tag "equipo/ARamos.png" %>
            <div class="caption" modal-name="#perfilARamos">
                <h3>Adrián Ramos</h3>
                <p>Experto en Economía.</p>
                
            </div>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <%= image_tag "equipo/ASalomon.png" %> 
            <div class="caption" modal-name="#perfilASalomon">
                <h3>Alejandro Salomón</h3>
                <p>Experto en seguridad.</p>
                
            </div>
           
        </div>
        <div class="col-sm-3 standard">
            <%= image_tag "equipo/JZungia.png" %>
            <div class="caption" modal-name="#perfilJZungia">
                <h3>Jimena Zuniga</h3>
                <p>Experta en innovación</p>
                
            </div>
            
        </div>

        <div class="col-sm-3 standard">
            <%= image_tag "equipo/KBanfi.png" %>
            <div class="caption" modal-name="#perfilKBanfi">
                <h3>Karina Banfi</h3>
                <p>Experto en ciencia, tecnología e innovación.</p>
                
            </div>
            
        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="#perfilVVassel">
                <h3>Verónica Vassel</h3>
                <p>Experta en comunicación territorial.</p>
                
            </div>
            <%= image_tag "equipo/VVassel.png" %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard" >
            <%= image_tag "equipo/AStubrin.png" %> 
            <div class="caption" modal-name="#perfilAStubrin">
                <h3>Adolfo Stubrin</h3>
                <p> Experto en educación.</p>
                
            </div>
           
        </div>

        <div class="col-sm-3 standard" >
            <%= image_tag "equipo/LLuchilo.png" %> 
            <div class="caption" modal-name="#perfilLLuchilo">
                <h3>Lucas Luchilo</h3>
                <p>Experto en ciencia y tecnología.</p>
                
            </div>
           
        </div>

        <div class="col-sm-3 standard" >
            <%= image_tag "equipo/LQuevedo.png" %> 
            <div class="caption" modal-name="#perfilLQuevedo">
                <h3>Luis Quevedo</h3>
                <p>Experto en cultura.</p>
                
            </div>
           
        </div>
        

    </div>
</div>

<hr>
<br>
<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <h3 class="titulo-expertos">NUESTROS CANDIDATOS</h3>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                
                <h3>Aguad</h3>
                <h2>CORDOBA</h2>

            </div>

            <%= image_tag "equipo/Aguad.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Ayala</h3>
                <h2>CHACO</h2>
                
            </div>

            <%= image_tag "equipo/Ayala.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Birzuela Del Moral</h3>
                <h2>CATAMARCA</h2>
                
            </div>
            <%= image_tag "equipo/BrizuelaDelMoral.png" %>
        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Cano</h3>
                <h2>TUCUMAN</h2>
                
            </div>
            <%= image_tag "equipo/Cano.png" %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                
                <h3>Colombi</h3>
                <h2>CORRIENTES</h2>

            </div>

            <%= image_tag "equipo/Colombi.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="#">
                <h3>Cornejo</h3>
                <h2>MENDOZA</h2>
                
            </div>

            <%= image_tag "equipo/Cornejo.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="#">
                <h3>Costa</h3>
                <h2>SANTA CRUZ</h2>
                
            </div>
            <%= image_tag "equipo/Costa.png" %>
        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Gonzalez</h3>
                <h2>MISIONES</h2>
                
            </div>
            <%= image_tag "equipo/Gonzales.png" %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                
                <h3>Martinez</h3>
                <h2>LA RIOJA</h2>

            </div>

            <%= image_tag "equipo/Martinez.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Morales</h3>
                <h2>JUJUY</h2>
                
            </div>

            <%= image_tag "equipo/Morales.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Naidenoff</h3>
                <h2>FORMOSA</h2>
                
            </div>
            <%= image_tag "equipo/Naidenoff.png" %>
        </div>
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="">
                <h3>Sciurano</h3>
                <h2>TIERRA DEL FUEGO</h2>
                
            </div>
            <%= image_tag "equipo/Sciurano.png" %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption" modal-name="#perfilFQuetglas">
                
                <h3>Torroba</h3>
                <h2>LA PAMPA</h2>

            </div>

            <%= image_tag "equipo/Torroba.png" %>

        </div>

    </div>
</div>


<div class="modal fade principal" id="perfilSanz" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Ernesto Sanz</h2>
          </div>
          <div class="modal-body">

            <%= image_tag "equipo/ESanz.png" %>
            <p>
                Nació en San Rafael, provincia de Mendoza, en el año 1956. Es abogado por herencia y político por vocación. Presidente de la Juventud Radical de su ciudad entre 1983 y 1985, inició su actividad política con todo el entusiasmo de la recuperación de la democracia.
            </p><br>
            <p>
                Fue intendente de San Rafael entre el año 1999 y el 2003, cuando fue elegido senador nacional por su provincia. Desde el año 2006 al 2010 fue miembro del Consejo de la Magistratura. Actual senador de la Nación por la provincia de Mendoza en un segundo mandato, es también presidente de la Unión Cívica Radical (UCR).
            </p><br>
            <p>
                Líder, demócrata, estratega, fue elegido por la UCR para ser su candidato a presidente de la Nación en las elecciones de 2015. Padre de dos hijos y abuelo de un niño y una niña, vive entre su finca de San Rafael, Mendoza, junto a su mujer, Cristina Bessone, y la ciudad de Buenos Aires, desde donde trabaja con pasión por una Argentina mejor para todos.
            </p><br>
            
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>

<div class="modal fade principal" id="perfilLlach" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Lucas Llach</h2>
          </div>
          <div class="modal-body">

            <%= image_tag "equipo/LLlach.png" %>
            <p>
                Nació en Buenos Aires, en el año 1973, pero se siente rosarino. Es un prestigioso economista, docente y ensayista. Realizó sus estudios de licenciatura en economía en la Universidad Torcuato Di Tella y se graduó como Doctor en Historia en la Universidad de Harvard.
            </p><br>
            <p>
                Su principal área de investigación es la historia económica argentina. Publicó, junto a Pablo Gerchunoff, los libros "El ciclo de la ilusión y el desencanto" (1998) y "Entre la equidad y el crecimiento" (2004), además de diversos trabajos en esa disciplina. Llach realiza sus actividades de investigación y docencia en la Universidad Torcuato Di Tella, donde es director del Departamento de Historia y de la Maestría en Políticas Públicas.
            </p><br>
            <p>
                Es hincha de Rosario Central y fanático de Messi. Es multifacético y sus intereses los convierte en obsesiones. En su blog del diario La Nación, "La Ciencia Maldita" escribe de política, fútbol, economía, política fiscal, educación, investigación, alimentación. En junio de 2015, fue designado por el candidato presidencial Ernesto Sanz como compañero de fórmula para las primarias de 2015, dentro del espacio Cambiemos.
            </p><br>
            
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>
<div class="modal fade  expertos" id="perfilFQuetglas" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Fabio Quetglas</h2>
          </div>
          <div class="modal-body">
            
            <div class="col-md-4">
            <%= image_tag "equipo/FQuetgla.png" %>
            </div>
            <div class="col-md-8">
            <p>Fabio insiste en que Argentina inicie el largo camino de una reconfiguración territorial para saldar nuestra deuda histórica.</p> <br>
            <p>Una Nación no puede avanzar en la contradicción de ver crecer metrópolis ingobernables, al tiempo que enormes espacios carecen de las condiciones para un desarrollo que garantice empleo y dignidad.</p> <br>
            <p>Las áreas metropolitanas califican si el país re equilibra sus flujos migratorios; sino seguirán receptando personas en busca de un presente.</p> <br>
            <p>El Desarrollo Territorial es sumar un programa de infraestructuras adecuado, sostener un plan fiscal razonable, crear un plan de hábitat ambicioso en ciudades medianas y pequeñas, mejorar las capacidades institucionales y también invertir más en las personas. Y, por supuesto, potenciar desde las ciudades intermedias un país equilibrado; que rompa la lógica centralista asfixiante.</p> <br>
            <p>Argentina puede hacerlo. La agenda del desarrollo no es desconocida para nosotros, solo debemos abandonar por un momento la obsesión coyunturalista.</p> <br>
            <p>Fabio tiene 50 años. Nació en Avellaneda, por aquellos años corazón de la Argentina industrial. Se crió en un hogar humilde de inmigrantes árabes. Trabajó y estudió desde muy chico. Es fan de Bochini. Fue cadete, adicionista y canillita. En el 83' lo cautivó la prosa florida de Raúl Alfonsín. Está casado con Verónica. Tiene dos hijos: Eva y Juan.</p> <br>
            <p>El desarrollo territorial es el nombre del desarrollo para todos; y Fabio es mi hombre en esta área.</p> <br>
            </div>
            
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>
<div class="modal fade expertos" id="perfilMTetaz" role="dialog">
  <div class="modal-dialog bio" style="width: 75%;">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Martín Tetaz</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/MTetaz.png" %>
            </div>
            <div class="col-md-8">
            <p>Pensemos en Argentina 2050. No es habitual que un economista hable o especule sobre la morfología del futuro, pero es imperdonable que un político no lo haga. Martín Tetaz se preugnta: ¿Cuál será el motor de la demanda mundial cuando China consolide su clase media urbana, en unos 25 años? ¿Qué productos podremos vender en un mundo en el que las hamburguesas artificiales sean más baratas que las de carne vacuna, la energía solar más económica que el gas y la mayoría de los productos tangibles se fabriquen en impresoras hogareñas 3D?</p> <br>
            <p>Martín nos trae esta propuesta: a diferencia de los productos de la revolución industrial, las nuevas formas de agregación de valor dependen de intangibles (programas) y construcciones simbólicas (marcas) que se construyen on line o en polos tecnológicos y no en fábricas convencionales. El éxito de su producción depende de la capacidad creativa y del pensamiento simbólico que deberían formarse en una nueva escuela, que aprovechando las tecnologías de gamming y juegos en red, acerque lo que sucede en las aulas virtuales, a la cultura de los jóvenes.</p> <br>
            <p>Pero como decía Keynes, para llegar al largo plazo, hay que sobrevivir al corto. Necesitamos ordenar la economía, recuperar la moneda y con ella la soberanía monetaria.</p><br>
            <p>Es preciso reformar la estructura tributaria eliminando los impuestos que traban el desarrollo y haciendo los tributos más visibles para que los ciudadanos le exijan al Gobierno que rinda cuentas, mejorando la calidad del gasto y eliminando la corrupción. La Economía del Comportamiento puede ayudarnos además a diseñar mejores políticas públicas en educación y salud.</p><br>
            <p>Martín Tetaz es economista, especializado en la Economía del Comportamiento. Es autor de “Psychonomics: La Economía está en tu Mente” y “Economía para Abogados y Estudiantes de Derecho”. Publicó varios artículos científicos. Es columnista regular de medios televisivos, gráficos y radiales</p><br>
            </div>
            
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>
<div class="modal fade expertos" id="perfilASalomon" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Alejandro Salomón</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/ASalomon.png" %>
            </div>
            <div class="col-md-8">
            <p>"Este gobierno, ante la impotencia de no poder mejorar la seguridad, decidió destruir las estadísticas criminológicas. Para un diseño y ejecución de política criminológica eficaz hacen falta información criminológica verdadera y que refleje lo que realmente sucede. </p> <br>
            <p>Hay que recuperar el control de las fronteras para evitar el ingreso de la droga, pero también hay que eliminar los mecanismos de lavado de dinero, que es lo que hace rentable al crimen organizado. </p> <br>
            <p>Es mentira que el federalismo sea un obstáculo para que las fuerzas policiales del país y las de provincias trabajen en forma coordinada y compartiendo información. El Estado Nacional puede y debe recuperar el rol central del sistema de seguridad</p> <br>
            <p>No se puede hacer frente a la conflictividad del delito del siglo 21 con leyes policiales de mediados del siglo 20, pensadas para la guerra fría y escrita por dictaduras militares. </p> <br>
            <p>En un sistema penal que solo alcanza condenas para menos del 1% de los delitos, aumentar las penas es aumentarles las penas a nadie. Hay que mejorar la eficiencia de la justicia, y eso se mide con el aumento en el número de condenas. </p> <br>
            <p>Las cárceles deben dejar de ser el lugar en donde se perfeccionan los delincuentes</p> <br>
            <p>El UNASUR no debe agotar sus objetivos en declaraciones de las cumbres, es necesario pasar a acciones conjuntas en la lucha contra el crimen organizado. Hacer rimbombantes declaraciones de unidad, y después culpar a los extranjeros de ser los responsables de la inseguridad es una demostración de que el Estado argentino lleva adelante políticas espasmódicas y contradictorias." </p> <br>
            <p>Alejandro Salomón es Licenciado en Ciencias Políticas y Diplomado en la Universidad e Chile en Control y Evaluación Policial. Fue subbsecretario de Seguridad de Mendoza; Director Académico del Instituto Universitario de Seguridad Pública (Mza); Rector del Instituto Universitario de la Policía Federal. Es Profesor titular de la cátedra Sistemas de Seguridad Comparados.</p> <br>
            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>
<div class="modal fade expertos" id="perfilVVassel" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Verónica Vassel</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/VVassel.png" %>
            </div>
            <div class="col-md-8">
            <p>Verónica trabaja para mejorar la competitividad de las economías regionales a través de la visibilidad de sus marcas territoriales. Seguramente ya escuchaste de esto en conceptos como: marca ciudad, denominación de origen o Identificación geográfica.</p> <br>
            <p>Nacida en Goya, Corrientes, una ciudad que por aquel tiempo vivía del cultivo y la industrialización del tabaco; la noción que le proveyó su propio ambiente fue decisiva para su especialización: Goya siempre pendía de un hilo, entre inundaciones y regulaciones.</p> <br>
            <p>Crecer entre tantas desventuras y controversias, le permitiò entender que producción y comunicación difícilmente puedan ser escindibles. Por eso se formó en Ciencias de la Comunicación primero y en el Desarrollo Local después. </p> <br>
            <p>Goya no es distinta a las cientos de ciudades, cuya identidad está marcada por sus tradiciones productivas. Identidades que muchas veces merecen ser revisadas y que siempre movilizan no solo intereses, sino pasiones e historias de vida.</p> <br>
            <p>Cada lugar siempre puede construir nuevas alternativas. Debemos trabajar para que las personas puedan elegir donde vivir y para que emigrar sea solo una posibilidad y no una condena.</p> <br>
            <p>Verónica tiene 42 años, es Licenciada en Ciencias de la Comunicación y tiene un máster en Desarrollo Local. Está casada con Fabio y es mamá de dos hijos.</p> <br>
            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>
<div class="modal fade expertos" id="perfilARamos" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Adrián Ramos</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/ARamos.png" %>
            </div>
            <div class="col-md-8">
            <p>"Miremos hacia adelante. Es necesario tratar las inconsistencias: una economía difícilmente pueda funcionar adecuadamente en medio de la inestabilidad de precios, con un sector público deficitario y sin crédito, que depende de la emisión para financiarse, y un esquema cambiario hecho de parches.</p> <br>
            <p>La economía argentina es compleja. Contamos con un sector agropecuario pampeano que no sólo se apoya en una dotación natural sino que manifiesta una destacada disposición a crecer mediante innovaciones técnicas y de gestión, pese a los frenos de política que se le atravesaron. Por su lado, cuando tuvieron un marco proclive a su operación, las economías regionales también mostraron dinamismo. La producción de servicios sofisticados con potencial de salida al exterior reflejó la presencia de reservorios de creatividad e iniciativa.</p> <br>

            <p>En la industria manufacturera, ampliamente heterogénea, hay áreas de alta productividad, incluyendo PyMEs. Sin embargo, quien más quien menos, estos sectores tuvieron que enfrentar dificultades. Hacia adelante, el diseño de instituciones y políticas económicas debe facilitar que se potencien esas promesas, y las otras que vayan surgiendo. Pero no basta con eso si las fuerzas que impulsan el crecimiento no se propagan hacia el conjunto de la economía, particularmente en la forma de una demanda de trabajo capaz de sostener crecientes oportunidades de empleo e ingreso para toda la población."</p> <br>
            <p>Adrián Ramos es Licenciado en Economía de la FCE-UBA, realizò el Master of Science in Economics en The London School of Economics and Political Science (Reino Unido). Actualmente Subdirector del Departamento de Economía y del Instituto Interdisciplinario de Economía Política de Buenos Aires (UBA CONICET). Es profesor de Estructura Económica Argentina. Fue economista de Organismos Internacionales, como la CEPAL, el BID y el PNUD.</p> <br>
            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>

<div class="modal fade expertos" id="perfilKBanfi" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Karina Banfi</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/KBanfi.png" %>
            </div>
            <div class="col-md-8">
            <p>La corrupción es el virus de la administración del Estado, mientras que la transparencia y el gobierno abierto son los antivirus para combatirla. Un Gobierno que promueve la participación y el acceso a la información es más cercano a su comunidad y favorece el goce de los derechos.</p> <br>
            <p>El gobierno abierto es una iniciativa que se instala en las agendas políticas. La gestión del Estado debe ser abierta en todos los niveles posibles como una política de transparencia. El acceso a la información pública y la participación ciudadana en las decisiones de gobierno permitirán colaborar con la administración de los dilemas públicos en búsqueda de soluciones que canalicen el potencial innovador de los ciudadanos, el mercado y las organizaciones civiles para el beneficio de toda la sociedad. Esta inclusión obligará a fomentar procesos de coordinación en la administración pública. </p> <br>
            <p>Para combatir la corrupción se deben incluir instrumentos de colaboración con los canales de investigación judicial y contar con medidas políticas claras de investigación interna. </p> <br>
            <p>Karina es especialista en gobierno abierto y acceso a la información pública. Co fundadora y ex secretaria ejecutiva de la Alianza Regional por la Libre Expresión e Información. Integró el grupo de expertos que elaboró la Ley Modelo Interamericana de Acceso a la Información Pública de la OEA. Fue consultora de la Relatoría Especial para la Libertad de Expresión de la CIDH y coordinadora de programas de gobernabilidad y transparencia en la OEA.</p> <br>
            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>

<div class="modal fade expertos" id="perfilLLuchilo" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Lucas Luchilo</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/LLuchilo.png" %>
            </div>
            <div class="col-md-8">
            <p>Lucas Luchilo es Profesor de historia y Magíster en Política y Gestión de la ciencia y la Tecnología (UBA). Se desempeña actualmente como investigador y coordinador del área de Educación Superior de Redes- Centro de Estudios de la Ciencia, el Desarrollo y la Educación Superior- Realiza docencia de grado y posgrado en las universidades de Buenos Aires, General Sarmiento, Tecnológica Nacional y Belgrano.  Su área de especialización es la de recursos humanos en ciencia y tecnología y educación superior. En los últimos años ha trabajado sobre movilidad y migración de científicos e ingenieros y sobre trayectorias de profesionales con doctorado. Ha participado en proyectos sobre indicadores de recursos humanos en ciencia y tecnología. Asimismo, su campo de interés se extiende a los aspectos de organización y gestión institucional de las actividades científicas y tecnológicas..</p> <br>
            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>

<div class="modal fade expertos" id="perfilJZungia" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Jimena Zuniga</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/JZungia.png" %>
            </div>
            <div class="col-md-8">
            <p>Jimena Zuniga es nuestra Directora de Innovación en Políticas Públicas para la campaña. Va a trabajar codo a codo con Lucas Llach en la coordinación de los equipos técnicos y en la formulación y la comunicación de propuestas de políticas públicas innovadoras. </p> <br>
            <p>Jimena tiene 36 años y es cordobesa, de Río Segundo. Estudió economía en la Universidad Nacional De Córdoba. Cuando se recibió trabajó un año en el instituto de estudios de la Fundación Mediterránea y poco tiempo después se fue a estudiar y a trabajar en el exterior. </p> <br>
            <p>Hizo una maestría en políticas públicas en la Universidad de Harvard. </p> <br>
            <p>Trabajó en Barclays Capital en Nueva York, en el Banco Mundial en Washington, y en ONGs de desarrollo como Global Development Network y Africare Senegal.</p> <br>
            <p>En 2011 volvió a la Argentina y fundó <a href="https://www.facebook.com/BastionDigital">Bastion Digital</a>, un medio digital de análisis y opinión sobre asuntos públicos y culturales. Fue su directora hasta sumarse a nuestro equipo, el 8 de junio. </p> <br>
            <p>Es una joven súper talentosa que busca influir positivamente sobre porciones de la realidad argentina y latinoamericana desde lo que ella llama, sus pasiones: la economía, las políticas públicas, y su análisis y comunicación. </p> <br>
            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>

<div class="modal fade expertos" id="perfilHAguiar" role="dialog">
  <div class="modal-dialog bio">
    <div class="modal-content">

          <div class="modal-header">
           <h2>Henoch Aguiar</h2>
          </div>
          <div class="modal-body">
            <div class="col-md-4">
            <%= image_tag "equipo/HAguiar.png" %>
            </div>
            <div class="col-md-8">
            <p>Henoch es ex Secretario de Comunicaciones de la Argentina desde diciembre de 1999. Anteriormente fue elegido, por concurso, miembro del Directorio de la Comisión Nacional de Telecomunicaciones (1993-95). Fue asesor de la Comisión de Comunicaciones de la Cámara de Diputados (1992-93), de la Secretaría General de Presidencia (1987-89) y de la Secretaría de Información Pública (1985-87). Elaboró diversos proyectos de ley relacionados con las telecomunicaciones y la radiodifusión.</p> <br>
            <p>Aguiar ha desarrollado una amplia carrera académica, siendo actualmente profesor titular de Derecho a la Información y de Comunicación Organizacional, en la Carrera de Comunicación Social de la Universidad de Buenos Aires. Además dicta clases de comunicaciones y telecomunicaciones en los postgrados de las Universidades de Belgrano, Austral, San Andrés, Católica Argentina, FLACSO y Palermo.</p><br>
            <p>En su carácter de abogado experto en telecomunicaciones, ha sido socio titular del estudio Aguiar & Asociados, hasta 1999, como consultor especializado en comunicaciones, telecomunicaciones y radiodifusión.</p><br>
            <p>Aguiar es Licenciado en Derecho. Realizó sus estudios en las Universidades de Buenos Aires, Paris I y Grenoble II (1970-75). Es graduado del postgrado de Economía y Finanzas del Institut d´ Études Politiques de París (1975-77), y obtuvo un Master en Dirección de Empresas en el IAE, Instituto de Altos Estudios Empresariales (1983-84).</p><br>
            <p>Aguiar es miembro de número de la Academia Argentina de Artes y Ciencias de la Comunicación.</p><br>

            </div>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cerrar</a>
              
          </div>
    </div>
  </div>
</div>

<script>
$(window).load(function(e) {
  $('img[usemap]').rwdImageMaps();
  
  $('.standard').hover(
    function(){
      var modal_path = $(this).find('.caption').attr('modal-name');
      $(this).find('.caption').show();
      $(this).click(function(event) {
      $(modal_path).modal('show');
      });
    },
    function(){
      $(this).find('.caption').hide();
    }
  );
    

});

</script>
