<% provide(:propuestas, "active") %>
<% provide(:title, "Propuestas") %>


<body>

<div class="section header propuestas" id="page-nav-top">

    <div class="container-fluid">
         <div class="intro-body">
        <div class="container-fluid">
          <div class="row socialBTNs">
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <%= link_to (image_tag "social/fb-icon.png"), "https://www.facebook.com/ernestoricardosanz" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/t-icon.png"), "https://twitter.com/sanzernesto" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/i-icon.png"), "https://instagram.com/sanz2015/" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/yt-icon.png"), "https://www.youtube.com/user/sanzernestor" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
               <%= link_to (image_tag "social/dona.png"), "#" %>
            </div>


            </div>

        </div>
    </div>
    </div>
    </div>










<!--Video Section Ends Here-->

  <%= render 'shared/navbar' %>


<div class="container content">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption">
    

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
 

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
        

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
        

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
    </div>
</div>
<div class="container content">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption">
    

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
 

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
        

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
        

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
    </div>
</div>
<div class="container content">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption">
    

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
 

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
        

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
        

            </div>

           <%= link_to (image_tag "construccion.png"), root_path %>

        </div>
    </div>
</div>
<script>

$(document).ready(function(e) {

  
  $('.standard').hover(
    function(){
      var modal_path = $(this).find('.caption').attr('modal-name')
      $(this).find('.caption').show();
      $(this).click(function(event) {
      $(modal_path).modal('show');
      });
    },
    function(){
      $(this).find('.caption').hide();
    }
  );
  
});
</script>
</body>