<% provide(:propuestas, "active") %>
<% provide(:title, "Propuestas") %>


<body>

<div class="intro section header" id="page-nav-top">
      <div class="w-embed">

      <%= image_tag "propuestas/headerPropuestas.png", style: "width:100%; min-height: 500px; position:absolute; z-index: -1;"  %>
      </video>
      </div>
    <div class="container-fluid">
         <div class="intro-body">
        <div class="container-fluid">
          <div class="row socialBTNs">
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <%= link_to (image_tag "social/fb-icon.png"), "https://www.facebook.com/ernestoricardosanz" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/t-icon.png"), "https://twitter.com/sanzernesto" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/i-icon.png"), "https://instagram.com/sanz2015/" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/yt-icon.png"), "https://www.youtube.com/user/sanzernestor" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
               <%= link_to (image_tag "social/dona.png"), "#" %>
            </div>


            </div>
            <div class="row">
                 <h1 class="brand-heading">Propuestas<span class="color"></span></h1>
                <p class="intro-text"></p>

            </div>

        </div>
    </div>
    </div>
    </div>










<!--Video Section Ends Here-->

  <%= render 'shared/navbar' %>


<div class="container content">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>

            <%= image_tag "equipo/FQuetgla.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>

            <%= image_tag "equipo/MTetaz.png" %>

        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
            <%= image_tag "equipo/HAguiar.png" %>
        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
            <%= image_tag "equipo/ARamos.png" %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
           <%= image_tag "equipo/ASalomon.png" %> 
        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
            <%= image_tag "equipo/ACampero.png" %>
        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
           <%= image_tag "equipo/KBanfi.png" %> 
        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
            <%= image_tag "equipo/VVassel.png" %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
           <%= image_tag "equipo/AStubrin.png" %> 
        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
           <%= image_tag "equipo/LLuchilo.png" %> 
        </div>
        <div class="col-sm-3 standard">
            <div class="caption">
                <h3>Caption Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" class="learn-more">Learn more</a></p>
            </div>
           <%= image_tag "equipo/LQuevedo.png" %> 
        </div>
        <div class="col-sm-3 standard" id="menu">
            <a href="#"><h2>MENU</h2></a>
        </div>
    </div>
</div>
<script>
$(document).ready(function(e) {
  $('img[usemap]').rwdImageMaps();
  
  $('.standard').hover(
    function(){
      var modal_path = $(this).find('.caption').attr('modal-name')
      $(this).find('.caption').show();
      $(this).click(function(event) {
      $(modal_path).modal('show');
      });
    },
    function(){
      $(this).find('.caption').hide();
    }
  );
  
});
</script>
</body>