<% provide(:recursos, "active") %>
<% provide(:title, "Recursos") %>

<body>
  
<div class="section header recursos" id="page-nav-top">

    <div class="container-fluid">
         <div class="intro-body">
        <div class="container-fluid">
          <div class="row socialBTNs">
            <div class="col-md-5">
                <ul class="list-inline lead">
                    <li>
                        <%= link_to (image_tag "social/fb-icon.png"), "https://www.facebook.com/ernestoricardosanz" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/t-icon.png"), "https://twitter.com/sanzernesto" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/i-icon.png"), "https://instagram.com/sanz2015/" %>
                    </li>
                    <li>
                        <%= link_to (image_tag "social/yt-icon.png"), "https://www.youtube.com/user/sanzernestor" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
               <%= link_to (image_tag "social/dona.png"), "#" %>
            </div>


            </div>
            <div class="row">
                 <h1 class="brand-heading">El poder de la uni&oacute;n<span class="color"></span></h1>
                <p class="intro-text"></p>

            </div>

        </div>
    </div>
    </div>
    </div>










<!--Video Section Ends Here-->

  <%= render 'shared/navbar' %>


</header>
<div class="container">
  <hr class="header">
</div>
    <div id="sectionConent" class="recursos">
    <div class="container">
  <div class="row">
    <div class="col-md-12">
    <h2 class="red">
      Recursos de Campaña
    </h2>
    </div>
  </div>
  
  <hr />
<div class="row">


  <div class="col-md-12">
  <h2>Logos</h2>
  </div>

  <div class="col-md-3">
    <a href="http://www.somoselcambio.org/inc/recursos/img-alta/logo-cuadrado.pdf" download>
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/logo-cuadrado.jpg" alt="recursos de campaña">
    </a>
  </div>
    <div class="col-md-3">
    <a href="http://www.somoselcambio.org/inc/recursos/img-alta/logo-horizontal.pdf" download>
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/logo-horizontal.jpg" alt="recursos de campaña">
    </a>
  </div>

    <div class="col-md-3">
    <a href="http://www.somoselcambio.org/inc/recursos/img-alta/radicales.ai" download>
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/radicales.jpg" alt="recursos de campaña">
    </a>
  </div>

  <div class="clearfix"></div>
  <hr />

  <div class="col-md-12">
  <h2>Afiches</h2>
  </div>

  <div class="col-md-3">
                    <a target="_blank" href="http://www.somoselcambio.org/inc/recursos/img-alta/media-carapantalla.jpg" download>
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/afiches-carapantalla.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
                    <a target="_blank" href="http://www.somoselcambio.org/inc/recursos/img-alta/refugios-de-sol.jpg" download>
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/afiches-sextuple.png" alt="recursos de campaña">
    </a>
  </div>
  
  <div class="clearfix"></div>
  <hr />

<div class="col-md-12">
  <h2>Comunicación</h2>
  </div>

  <div class="col-md-3">
    <a href="https://www.wetransfer.com/downloads/9f3c0c2ef76a99d869a91a0631f5832120150430163630/50a5ae0ae8475f58e3323e38c9dd276a20150430163630/23398a" target="_blank">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/comunicacion-banners.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/comunicacion-invitacion.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/comunicacion-invitacion.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/comunicacion-membrete.zip">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/comunicacion-membrete.png" alt="recursos de campaña">
    </a>
  </div>
<!--
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/comunicacion-yo_voy_con_sanz.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/comunicacion-yo_voy_con_sanz.png" alt="recursos de campaña">
    </a>
  </div>
-->


<div class="clearfix"></div>
<hr />
    <div class="col-md-12">
    <h2>Imágenes</h2>
    </div>
  
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/imagenes-1.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/imagenes-1.png" alt="recursos de campaña">
    </a>
  </div>


  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/imagenes-3.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/imagenes-3.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/imagenes-4.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/imagenes-4.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/imagenes-5.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/imagenes-5.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/imagenes-6.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/imagenes-6.png" alt="recursos de campaña">
    </a>
  </div>




  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/flyer con foto alta.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/flyer con foto baja.jpg" alt="recursos de campaña">
    </a>
  </div>


<div class="clearfix"></div>
<hr />
    <div class="col-md-12">
    <h2>Merchandising</h2>
    </div>

    <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-paraguas.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-paraguas.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-birome.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-birome.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-taza.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-taza.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-mate.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-mate.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-libreta.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-libreta.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-globos.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-globos.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-remera.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-remera.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-funda_celular.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-funda_celular.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-gorra2.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-gorra2.png" alt="recursos de campaña">
    </a>
  </div>

  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/merchandising-gorra1.png">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/merchandising-gorra1.png" alt="recursos de campaña">
    </a>
  </div>










<div class="clearfix"></div>
<hr />
    <div class="col-md-12">
    <h2>Tipografía</h2>
    </div>


    <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/DINNextRoundedLTPro-Regular.otf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/tipografia-tipografia.png" alt="recursos de campaña">
    </a>
  </div>



<div class="clearfix"></div>


<div class="clearfix"></div>
<hr />
    <div class="col-md-12">
    
     <h2>Gobernadores</h2>
    </div>


  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/sciurano-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/sciurano-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/nanni-cmyk-01.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/nanni-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/naidenoff-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/naidenoff-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/massaccesi-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/massaccesi-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/dominguez-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/dominguez-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/cornejo-montero-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/cornejo-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/cano-cmyk-01.jpg">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/cano-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/brizuela-del-moral-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/brizuela del moral-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/benedetti-folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/benedetti-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/ayala.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/ayala-01.png" alt="recursos de campaña">
    </a>
  </div>
  <div class="col-md-3">
    <a download href="http://www.somoselcambio.org/inc/recursos/img-alta/aguad folleto.pdf">
      <img src="http://www.somoselcambio.org/inc/recursos/img-baja/aguad-01.png" alt="recursos de campaña">
    </a>
  </div>



<div class="clearfix"></div>



</div>
</div>


    </div>
  </div>

  <br><br>

</body>
